* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
}
body {
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-color: #F5F6F8;
    width:1440px;
}
.main {
    background-color: white;
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
   
}
.top_logo {
    display: block;
    margin:120px auto;
    
}
.main_title {
    text-align: center;
    font-size:2.4rem;
    color:hsl(210, 10%, 33%);
    margin-top:-40px;
   
}
.title2 {
    text-align: center;
    color:hsl(210, 10%, 33%);
    font-size:1.5rem;
}
.title_3 {
    font-size:1.25rem;
    color:hsl(210, 10%, 33%);
    text-align: center;
}
.info {
    text-align: center;
    font-size:1.25rem;
    color:hsl(201, 11%, 66%);
    margin:30px 330px;
    font-weight: 400;
}
.button_box {
    margin:30px auto 180px auto;
    text-align: center;
}
.green {
    background-color: #26BAA5;
    padding:15px 30px;
    border-radius:30px;
}
.blue {
   background: #5564E8;
   padding:15px 30px;
   border-radius:30px;
}
.green, a {
    text-decoration: none;
    color:white;
}
.computer_box {
    display:flex;
    flex-direction: row;
}
.image_box {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:-50px;
}
.text_box {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.bottom_box {
    display:flex;
    flex-direction: row;
}
.box1, img {
    text-align: center;
}
.box2 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*FOOTER STYLING*/

.footer {
    border:1px solid;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer_logo img{
    border:1px solid;
    height:50px;
    width:50px;
}
.links {
    
}
.socials {
    
}

.grid_container {
    display:grid;
    grid-template-columns: auto auto auto;
}
.grid_item {
    
}
